* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;

}

h1 {
    color: darkblue;
    font-size: 6vmin;
    letter-spacing: 2vmin;
}

#message {
    margin-top: 0;
    margin-bottom: 5vmin;
    color: grey;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    background-color: lightgray;
    border-radius: 5vmin;
}

#board>div {
    margin: 3vmin;
    border: 1 vmin solid white;
    border-radius: 50%;
    background-color: darkgrey;
    background-size: contain;
    
}



button {
    margin-top: 5vmin;
    padding: 1.5vmin;
    background-color: grey;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
}