* {
    box-sizing: border-box;

}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;

}

header {
    color: darkblue;
    font-size: 6vmin;
    letter-spacing: 2vmin;
}



h2 {
    font-size: 5 vmin;
    color: magenta;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: -2vmin;
    color: blue;
}

#board>div {
    border:2vmin darkblue;
    border-radius: 50%;
}